---
http_interactions:
- request:
    method: post
    uri: https://api.open-elevation.com/api/v1/lookup
    body:
      encoding: UTF-8
      string: '{"locations":[{"latitude":51.01,"longitude":21.01},{"latitude":51.21,"longitude":21.06},{"latitude":51.51,"longitude":20.91}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"latitude":51.01,"longitude":21.01,"elevation":290.0},{"elevation":193.0,"longitude":21.06,"latitude":51.21},{"latitude":51.51,"longitude":20.91,"elevation":162.0}]}'
  recorded_at: Tue, 09 Jan 2024 18:59:59 GMT
recorded_with: VCR 6.1.0
