---
http_interactions:
- request:
    method: post
    uri: https://api.open-elevation.com/api/v1/lookup
    body:
      encoding: UTF-8
      string: '{"locations":[{"latitude":51.01,"longitude":21.01}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"results":[{"latitude":51.01,"longitude":21.01,"elevation":290.0}]}'
  recorded_at: Tue, 09 Jan 2024 18:21:25 GMT
recorded_with: VCR 6.1.0
